
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    background: url("collagepic.png") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    line-height: 1.6;
}

body::before {
    content: "";
    position: fixed;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.45);
    backdrop-filter: blur(4px);
    z-index: -1;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: hsl(48, 76%, 53%);
    padding: 15px 40px;
}

header .logo img {
    height: 50px;
    border-radius: 8px;
}

header .sign a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

body .navigation-bar a:hover {
    color: #ececee;
}

main {
    padding: 10px 20px;
}

main h1 {
    font-size: 30px;
    margin-bottom: 20px;
    color: #000000;
}

main .buildings {
    list-style-type: none;
    display: flex;         
    justify-content: center;
    gap: 40px;         
    padding: 100px;
    margin: 10px;
}

main .buildings > li {
    position: relative;     
}

main .buildings > li > a {
    text-decoration: none;
    font-weight: bold;
    color: #222222;
    padding: 10px 15px;
    border-radius: 10px;
    display: block; 
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid rgba(255, 255, 255, 0.3);
    height: 150px;
    width: 180px;
    text-align: center;
    align-content: center;  
}

main .buildings > li > a:hover {
    background: rgba(3, 159, 231, 0.25);
    color: #0a1462;
    backdrop-filter: blur(10px);
}

main .information {
    list-style-type: none;
    display: none;
    position: absolute;
    top: 100%;        
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0;
    border-radius: 8px;
}


main .buildings > li:hover .information {
    display: block;
    color: #000000;
    background: rgba(92, 238, 238, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 18px;
    backdrop-filter: blur(10px);
}

.navigation-bar{
    background-color: #4a5558;
    display: inline-block;
    width: 400px;
    justify-content: space-between;
    height: 35px;
    border-end-end-radius: 30px;
    align-content: center;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.5);
}
nav a{
    margin: 35px;
    text-decoration: none;
    color: #ff9400;
}













